In [15]:
import pandas as pd
import numpy as np

user_df = pd.read_csv('./data/ratings_nohead.csv')
movie_df = pd.read_csv('./data/movies.csv')
user_df.columns = ["userid","movieId","rating","timestamp"]
user_df.head()

   userid  movieId  rating  timestamp
0       1        3     4.0  964981247
1       1        6     4.0  964982224
2       1       47     5.0  964983815
3       1       50     5.0  964982931
4       1       70     3.0  964982400

In [2]:
movie_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [11]:
user_df.info()

<class 'pandas.DataFrame'>
RangeIndex: 100835 entries, 0 to 100834
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userid     100835 non-null  int64
 1   movieid    100835 non-null  int64
 2   rating     100835 non-null  float64
 3   timestamp  100835 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [12]:
movie_df.info()

<class 'pandas.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   str
 2   genres   9742 non-null   str
dtypes: int64(1), str(2)
memory usage: 228.5 KB

In [17]:
movie_ratings_df = pd.merge(
    user_df,
    movie_df,
    on='movieId'
)

In [18]:
movie_ratings_df.head()

,userid,movieId,rating,timestamp,title,genres
0,1,3,4.0,964981247,Grumpier Old Men (1995),Comedy|Romance
1,1,6,4.0,964982224,Heat (1995),Action|Crime|Thriller
2,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
3,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller
4,1,70,3.0,964982400,From Dusk Till Dawn (1996),Action|Comedy|Horror|Thriller

In [21]:
user_ratings_df = movie_ratings_df.pivot_table(index='userid',columns='title',values='rating',fill_value=0)

In [22]:
user_ratings_df

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userid,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
607,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
608,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,4.5,3.5,0.0,0.0,0.0
609,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
610,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.5,0.0,...,0.0,4.0,3.5,3.0,0.0,0.0,2.0,1.5,0.0,0.0

In [65]:
from sklearn.metrics.pairwise import cosine_similarity

cos_user_df = cosine_similarity(user_ratings_df,user_ratings_df)
cos_user_df

array([[1.        , 0.02733074, 0.05982506, ..., 0.29005749, 0.08487917,
        0.14340709],
       [0.02733074, 1.        , 0.        , ..., 0.04621095, 0.0275654 ,
        0.10242675],
       [0.05982506, 0.        , 1.        , ..., 0.02112846, 0.        ,
        0.03211875],
       ...,
       [0.29005749, 0.04621095, 0.02112846, ..., 1.        , 0.12199271,
        0.32205486],
       [0.08487917, 0.0275654 , 0.        , ..., 0.12199271, 1.        ,
        0.05322546],
       [0.14340709, 0.10242675, 0.03211875, ..., 0.32205486, 0.05322546,
        1.        ]], shape=(610, 610))

In [66]:
cos_df = pd.DataFrame(cos_user_df,index=user_ratings_df.index,columns=user_ratings_df.index)

cos_df.head()

userid,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
userid,,,,,,,,,,,,,,,,,,,,,
1,1.000000,0.027331,0.059825,0.194736,0.119816,0.128376,0.152827,0.137208,0.064376,0.016905,...,0.075393,0.164743,0.219784,0.065795,0.149081,0.163289,0.265424,0.290057,0.084879,0.143407
2,0.027331,1.000000,0.000000,0.003726,0.016614,0.025333,0.027585,0.027257,0.000000,0.067445,...,0.202671,0.016866,0.011997,0.000000,0.000000,0.028429,0.012948,0.046211,0.027565,0.102427
3,0.059825,0.000000,1.000000,0.002251,0.005020,0.003936,0.000000,0.004941,0.000000,0.000000,...,0.005048,0.004892,0.024992,0.000000,0.010694,0.012993,0.019247,0.021128,0.000000,0.032119
4,0.194736,0.003726,0.002251,1.000000,0.128659,0.088491,0.115120,0.062969,0.011361,0.031163,...,0.085938,0.128273,0.307973,0.052985,0.084584,0.200395,0.131746,0.149858,0.032198,0.107683
5,0.119816,0.016614,0.005020,0.128659,1.000000,0.300349,0.108342,0.429075,0.000000,0.030611,...,0.068048,0.418747,0.110148,0.258773,0.148758,0.106435,0.152866,0.135535,0.261232,0.060792

In [67]:
cos_df.iloc[0].sort_values(ascending=False).head(10)

userid
1      1.000000
266    0.355697
313    0.352178
368    0.345733
57     0.341823
91     0.332515
39     0.330361
452    0.328624
469    0.328359
288    0.327762
Name: 1, dtype: float64

In [37]:
print(user_ratings_df.iloc[0])
print(user_ratings_df.iloc[365])

title
'71 (2014)                                   0.0
'Hellboy': The Seeds of Creation (2004)      0.0
'Round Midnight (1986)                       0.0
'Salem's Lot (2004)                          0.0
'Til There Was You (1997)                    0.0
                                            ...
eXistenZ (1999)                              0.0
xXx (2002)                                   0.0
xXx: State of the Union (2005)               0.0
¡Three Amigos! (1986)                        4.0
À nous la liberté (Freedom for Us) (1931)    0.0
Name: 1, Length: 9719, dtype: float64
title
'71 (2014)                                   0.0
'Hellboy': The Seeds of Creation (2004)      0.0
'Round Midnight (1986)                       0.0
'Salem's Lot (2004)                          0.0
'Til There Was You (1997)                    0.0
                                            ...
eXistenZ (1999)                              0.0
xXx (2002)                                   0.0
xXx: State of the Union (2005)               0.0
¡Three Amigos! (1986)                        0.0
À nous la liberté (Freedom for Us) (1931)    0.0
Name: 366, Length: 9719, dtype: float64

In [43]:
# mylist
my_list = []

for idx,item in enumerate(user_ratings_df.iloc[0]):
    if item > 0 :
        #my_list.append(item)
        my_list.append(user_ratings_df.iloc[0].index[idx])
        # print(user_ratings_df.iloc[0].index[idx],item)
        # print("-"*50)
print(my_list)
print("본영화의 갯수",len(my_list))

['13th Warrior, The (1999)', '20 Dates (1998)', 'Abyss, The (1989)', 'Adventures of Robin Hood, The (1938)', 'Alice in Wonderland (1951)', 'Alien (1979)', 'All Quiet on the Western Front (1930)', 'American Beauty (1999)', 'American History X (1998)', 'American Tail, An (1986)', 'Apocalypse Now (1979)', 'Austin Powers: International Man of Mystery (1997)', 'Back to the Future (1985)', 'Back to the Future Part III (1990)', 'Bambi (1942)', 'Basic Instinct (1992)', 'Batman (1989)', 'Batman Returns (1992)', 'Bedknobs and Broomsticks (1971)', 'Beetlejuice (1988)', 'Being John Malkovich (1999)', 'Best Men (1997)', 'Big (1988)', 'Big Lebowski, The (1998)', 'Big Trouble in Little China (1986)', 'Billy Madison (1995)', 'Black Cauldron, The (1985)', 'Blazing Saddles (1974)', 'Blown Away (1994)', 'Blues Brothers, The (1980)', 'Bottle Rocket (1996)', 'Braveheart (1995)', 'Canadian Bacon (1995)', "Charlotte's Web (1973)", 'Citizen Kane (1941)', 'Clear and Present Danger (1994)', 'Clerks (1994)', 'Clockwork Orange, A (1971)', 'Con Air (1997)', 'Conan the Barbarian (1982)', 'Crocodile Dundee (1986)', 'Dances with Wolves (1990)', 'Dazed and Confused (1993)', 'Desperado (1995)', 'Dick Tracy (1990)', 'Dirty Dozen, The (1967)', 'Dogma (1999)', 'Dr. No (1962)', 'Dracula (1931)', 'Duck Soup (1933)', 'Dumb & Dumber (Dumb and Dumber) (1994)', 'Dumbo (1941)', 'E.T. the Extra-Terrestrial (1982)', 'Easy Rider (1969)', 'Ed Wood (1994)', 'Edward Scissorhands (1990)', 'Encino Man (1992)', 'Enemy of the State (1998)', 'Escape to Witch Mountain (1975)', 'Excalibur (1981)', 'Face/Off (1997)', 'Fantasia (1940)', 'Fargo (1996)', 'Few Good Men, A (1992)', 'Fight Club (1999)', 'Flight of the Navigator (1986)', 'Forrest Gump (1994)', 'Frankenstein (1931)', 'From Dusk Till Dawn (1996)', 'From Russia with Love (1963)', 'Fugitive, The (1993)', 'Full Metal Jacket (1987)', 'Game, The (1997)', 'Ghost and Mrs. Muir, The (1947)', 'Ghost and the Darkness, The (1996)', 'Ghostbusters (a.k.a. Ghost Busters) (1984)', 'Gladiator (2000)', 'Go (1999)', 'Goldfinger (1964)', 'Good Morning, Vietnam (1987)', 'Goodfellas (1990)', 'Goonies, The (1985)', 'Great Mouse Detective, The (1986)', 'Green Mile, The (1999)', 'Grosse Pointe Blank (1997)', 'Groundhog Day (1993)', 'Grumpier Old Men (1995)', 'Grumpy Old Men (1993)', "Gulliver's Travels (1939)", 'Heat (1995)', 'Henry V (1989)', 'Highlander (1986)', 'Honey, I Shrunk the Kids (1989)', 'Hook (1991)', 'Howard the Duck (1986)', 'I Know What You Did Last Summer (1997)', 'I Still Know What You Did Last Summer (1998)', 'Independence Day (a.k.a. ID4) (1996)', 'Indiana Jones and the Last Crusade (1989)', 'Indiana Jones and the Temple of Doom (1984)', 'Iron Giant, The (1999)', 'JFK (1991)', 'James and the Giant Peach (1996)', 'Jungle Book, The (1967)', 'Jungle Book, The (1994)', 'Jurassic Park (1993)', 'King Kong (1933)', 'Kiss the Girls (1997)', 'L.A. Confidential (1997)', 'Labyrinth (1986)', 'Ladyhawke (1985)', 'Last of the Mohicans, The (1992)', 'Legend (1985)', 'Lethal Weapon (1987)', 'Live and Let Die (1973)', 'Lock, Stock & Two Smoking Barrels (1998)', "Logan's Run (1976)", 'Longest Day, The (1962)', 'Lord of the Rings, The (1978)', 'M*A*S*H (a.k.a. MASH) (1970)', 'Mad Max (1979)', 'Man with the Golden Gun, The (1974)', 'Mask, The (1994)', 'Matrix, The (1999)', "McHale's Navy (1997)", 'Men in Black (a.k.a. MIB) (1997)', 'Messenger: The Story of Joan of Arc, The (1999)', 'Mission: Impossible (1996)', 'Monty Python and the Holy Grail (1975)', "Monty Python's Life of Brian (1979)", 'Mr. Smith Goes to Washington (1939)', 'Mrs. Doubtfire (1993)', 'Mummy, The (1999)', 'Negotiator, The (1998)', 'NeverEnding Story, The (1984)', 'Newton Boys, The (1998)', 'Nosferatu (Nosferatu, eine Symphonie des Grauens) (1922)', 'Office Space (1999)', "Pete's Dragon (1977)", 'Pink Floyd: The Wall (1982)', 'Pinocchio (1940)', 'Planet of the Apes (1968)', 'Platoon (1986)', 'Predator (1987)', 'Princess Bride, The (1987)', 'Psycho (1960)', 'Psycho (1998)', 'Pulp Fiction (1994)', 'Quiet Man, The (1952)', 'Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)', 'Red Dawn (1984)', 'Rescuers, The (1977)', 'Reservoir Dogs (1992)', 'Return to Oz (1985)', 'Road Trip (2000)', 'Road Warrior, The (Mad Max 2) (1981)', 'Rob Roy (1995)', 'Robin Hood (1973)', 'RoboCop (1987)', 'Rock, The (1996)', 'Rocketeer, The (1991)', 'Rocky (1976)', 'Rocky Horror Picture Show, The (1975)', 'Romancing the Stone (1984)', 'Run Lola Run (Lola rennt) (1998)', 'Rush Hour (1998)', 'Rushmore (1998)', 'SLC Punk! (1998)', 'Saving Private Ryan (1998)', "Schindler's List (1993)", 'Scream 3 (2000)', 'Secret of NIMH, The (1982)', 'Seven (a.k.a. Se7en) (1995)', 'Shaft (1971)', 'Shaft (2000)', "She's the One (1996)", 'Shining, The (1980)', 'Silence of the Lambs, The (1991)', 'Sister Act (1992)', 'Sleeping Beauty (1959)', 'Small Soldiers (1998)', 'Sneakers (1992)', 'So I Married an Axe Murderer (1993)', 'Song of the South (1946)', 'South Park: Bigger, Longer and Uncut (1999)', 'Space Jam (1996)', 'Spaceballs (1987)', 'Star Wars: Episode I - The Phantom Menace (1999)', 'Star Wars: Episode IV - A New Hope (1977)', 'Star Wars: Episode V - The Empire Strikes Back (1980)', 'Star Wars: Episode VI - Return of the Jedi (1983)', 'Stargate (1994)', 'Starship Troopers (1997)', 'Superman (1978)', 'Superman II (1980)', 'Swingers (1996)', 'Sword in the Stone, The (1963)', 'Talented Mr. Ripley, The (1999)', 'Teenage Mutant Ninja Turtles II: The Secret of the Ooze (1991)', 'Teenage Mutant Ninja Turtles III (1993)', 'Terminator, The (1984)', 'Texas Chainsaw Massacre, The (1974)', 'That Thing You Do! (1996)', 'Thin Red Line, The (1998)', 'Three Caballeros, The (1945)', 'Three Musketeers, The (1993)', 'Thunderball (1965)', 'Tombstone (1993)', 'Tommy Boy (1995)', 'Total Recall (1990)', 'Toys (1992)', 'Transformers: The Movie (1986)', 'Tron (1982)', 'Twister (1996)', 'Usual Suspects, The (1995)', 'Very Bad Things (1998)', "Wayne's World (1992)", 'Wedding Singer, The (1998)', 'Welcome to Woop-Woop (1997)', 'What About Bob? (1991)', 'Who Framed Roger Rabbit? (1988)', 'Wild Things (1998)', 'Willow (1988)', 'Willy Wonka & the Chocolate Factory (1971)', 'Winnie the Pooh and the Blustery Day (1968)', 'Wizard of Oz, The (1939)', 'Wolf Man, The (1941)', 'X-Men (2000)', 'Young Frankenstein (1974)', 'Young Sherlock Holmes (1985)', '¡Three Amigos! (1986)']
본영화의 갯수 231

In [57]:
m_data = user_ratings_df.iloc[0]
my_list = list(m_data[m_data>0].index)
my_list

['13th Warrior, The (1999)',
 '20 Dates (1998)',
 'Abyss, The (1989)',
 'Adventures of Robin Hood, The (1938)',
 'Alice in Wonderland (1951)',
 'Alien (1979)',
 'All Quiet on the Western Front (1930)',
 'American Beauty (1999)',
 'American History X (1998)',
 'American Tail, An (1986)',
 'Apocalypse Now (1979)',
 'Austin Powers: International Man of Mystery (1997)',
 'Back to the Future (1985)',
 'Back to the Future Part III (1990)',
 'Bambi (1942)',
 'Basic Instinct (1992)',
 'Batman (1989)',
 'Batman Returns (1992)',
 'Bedknobs and Broomsticks (1971)',
 'Beetlejuice (1988)',
 'Being John Malkovich (1999)',
 'Best Men (1997)',
 'Big (1988)',
 'Big Lebowski, The (1998)',
 'Big Trouble in Little China (1986)',
 'Billy Madison (1995)',
 'Black Cauldron, The (1985)',
 'Blazing Saddles (1974)',
 'Blown Away (1994)',
 'Blues Brothers, The (1980)',
 'Bottle Rocket (1996)',
 'Braveheart (1995)',
 'Canadian Bacon (1995)',
 "Charlotte's Web (1973)",
 'Citizen Kane (1941)',
 'Clear and Present Danger (1994)',
 'Clerks (1994)',
 'Clockwork Orange, A (1971)',
 'Con Air (1997)',
 'Conan the Barbarian (1982)',
 'Crocodile Dundee (1986)',
 'Dances with Wolves (1990)',
 'Dazed and Confused (1993)',
 'Desperado (1995)',
 'Dick Tracy (1990)',
 'Dirty Dozen, The (1967)',
 'Dogma (1999)',
 'Dr. No (1962)',
 'Dracula (1931)',
 'Duck Soup (1933)',
 'Dumb & Dumber (Dumb and Dumber) (1994)',
 'Dumbo (1941)',
 'E.T. the Extra-Terrestrial (1982)',
 'Easy Rider (1969)',
 'Ed Wood (1994)',
 'Edward Scissorhands (1990)',
 'Encino Man (1992)',
 'Enemy of the State (1998)',
 'Escape to Witch Mountain (1975)',
 'Excalibur (1981)',
 'Face/Off (1997)',
 'Fantasia (1940)',
 'Fargo (1996)',
 'Few Good Men, A (1992)',
 'Fight Club (1999)',
 'Flight of the Navigator (1986)',
 'Forrest Gump (1994)',
 'Frankenstein (1931)',
 'From Dusk Till Dawn (1996)',
 'From Russia with Love (1963)',
 'Fugitive, The (1993)',
 'Full Metal Jacket (1987)',
 'Game, The (1997)',
 'Ghost and Mrs. Muir, The (1947)',
 'Ghost and the Darkness, The (1996)',
 'Ghostbusters (a.k.a. Ghost Busters) (1984)',
 'Gladiator (2000)',
 'Go (1999)',
 'Goldfinger (1964)',
 'Good Morning, Vietnam (1987)',
 'Goodfellas (1990)',
 'Goonies, The (1985)',
 'Great Mouse Detective, The (1986)',
 'Green Mile, The (1999)',
 'Grosse Pointe Blank (1997)',
 'Groundhog Day (1993)',
 'Grumpier Old Men (1995)',
 'Grumpy Old Men (1993)',
 "Gulliver's Travels (1939)",
 'Heat (1995)',
 'Henry V (1989)',
 'Highlander (1986)',
 'Honey, I Shrunk the Kids (1989)',
 'Hook (1991)',
 'Howard the Duck (1986)',
 'I Know What You Did Last Summer (1997)',
 'I Still Know What You Did Last Summer (1998)',
 'Independence Day (a.k.a. ID4) (1996)',
 'Indiana Jones and the Last Crusade (1989)',
 'Indiana Jones and the Temple of Doom (1984)',
 'Iron Giant, The (1999)',
 'JFK (1991)',
 'James and the Giant Peach (1996)',
 'Jungle Book, The (1967)',
 'Jungle Book, The (1994)',
 'Jurassic Park (1993)',
 'King Kong (1933)',
 'Kiss the Girls (1997)',
 'L.A. Confidential (1997)',
 'Labyrinth (1986)',
 'Ladyhawke (1985)',
 'Last of the Mohicans, The (1992)',
 'Legend (1985)',
 'Lethal Weapon (1987)',
 'Live and Let Die (1973)',
 'Lock, Stock & Two Smoking Barrels (1998)',
 "Logan's Run (1976)",
 'Longest Day, The (1962)',
 'Lord of the Rings, The (1978)',
 'M*A*S*H (a.k.a. MASH) (1970)',
 'Mad Max (1979)',
 'Man with the Golden Gun, The (1974)',
 'Mask, The (1994)',
 'Matrix, The (1999)',
 "McHale's Navy (1997)",
 'Men in Black (a.k.a. MIB) (1997)',
 'Messenger: The Story of Joan of Arc, The (1999)',
 'Mission: Impossible (1996)',
 'Monty Python and the Holy Grail (1975)',
 "Monty Python's Life of Brian (1979)",
 'Mr. Smith Goes to Washington (1939)',
 'Mrs. Doubtfire (1993)',
 'Mummy, The (1999)',
 'Negotiator, The (1998)',
 'NeverEnding Story, The (1984)',
 'Newton Boys, The (1998)',
 'Nosferatu (Nosferatu, eine Symphonie des Grauens) (1922)',
 'Office Space (1999)',
 "Pete's Dragon (1977)",
 'Pink Floyd: The Wall (1982)',
 'Pinocchio (1940)',
 'Planet of the Apes (1968)',
 'Platoon (1986)',
 'Predator (1987)',
 'Princess Bride, The (1987)',
 'Psycho (1960)',
 'Psycho (1998)',
 'Pulp Fiction (1994)',
 'Quiet Man, The (1952)',
 'Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)',
 'Red Dawn (1984)',
 'Rescuers, The (1977)',
 'Reservoir Dogs (1992)',
 'Return to Oz (1985)',
 'Road Trip (2000)',
 'Road Warrior, The (Mad Max 2) (1981)',
 'Rob Roy (1995)',
 'Robin Hood (1973)',
 'RoboCop (1987)',
 'Rock, The (1996)',
 'Rocketeer, The (1991)',
 'Rocky (1976)',
 'Rocky Horror Picture Show, The (1975)',
 'Romancing the Stone (1984)',
 'Run Lola Run (Lola rennt) (1998)',
 'Rush Hour (1998)',
 'Rushmore (1998)',
 'SLC Punk! (1998)',
 'Saving Private Ryan (1998)',
 "Schindler's List (1993)",
 'Scream 3 (2000)',
 'Secret of NIMH, The (1982)',
 'Seven (a.k.a. Se7en) (1995)',
 'Shaft (1971)',
 'Shaft (2000)',
 "She's the One (1996)",
 'Shining, The (1980)',
 'Silence of the Lambs, The (1991)',
 'Sister Act (1992)',
 'Sleeping Beauty (1959)',
 'Small Soldiers (1998)',
 'Sneakers (1992)',
 'So I Married an Axe Murderer (1993)',
 'Song of the South (1946)',
 'South Park: Bigger, Longer and Uncut (1999)',
 'Space Jam (1996)',
 'Spaceballs (1987)',
 'Star Wars: Episode I - The Phantom Menace (1999)',
 'Star Wars: Episode IV - A New Hope (1977)',
 'Star Wars: Episode V - The Empire Strikes Back (1980)',
 'Star Wars: Episode VI - Return of the Jedi (1983)',
 'Stargate (1994)',
 'Starship Troopers (1997)',
 'Superman (1978)',
 'Superman II (1980)',
 'Swingers (1996)',
 'Sword in the Stone, The (1963)',
 'Talented Mr. Ripley, The (1999)',
 'Teenage Mutant Ninja Turtles II: The Secret of the Ooze (1991)',
 'Teenage Mutant Ninja Turtles III (1993)',
 'Terminator, The (1984)',
 'Texas Chainsaw Massacre, The (1974)',
 'That Thing You Do! (1996)',
 'Thin Red Line, The (1998)',
 'Three Caballeros, The (1945)',
 'Three Musketeers, The (1993)',
 'Thunderball (1965)',
 'Tombstone (1993)',
 'Tommy Boy (1995)',
 'Total Recall (1990)',
 'Toys (1992)',
 'Transformers: The Movie (1986)',
 'Tron (1982)',
 'Twister (1996)',
 'Usual Suspects, The (1995)',
 'Very Bad Things (1998)',
 "Wayne's World (1992)",
 'Wedding Singer, The (1998)',
 'Welcome to Woop-Woop (1997)',
 'What About Bob? (1991)',
 'Who Framed Roger Rabbit? (1988)',
 'Wild Things (1998)',
 'Willow (1988)',
 'Willy Wonka & the Chocolate Factory (1971)',
 'Winnie the Pooh and the Blustery Day (1968)',
 'Wizard of Oz, The (1939)',
 'Wolf Man, The (1941)',
 'X-Men (2000)',
 'Young Frankenstein (1974)',
 'Young Sherlock Holmes (1985)',
 '¡Three Amigos! (1986)']

In [45]:
u_data = user_ratings_df.iloc[266]
u_data

title
'71 (2014)                                   0.0
'Hellboy': The Seeds of Creation (2004)      0.0
'Round Midnight (1986)                       0.0
'Salem's Lot (2004)                          0.0
'Til There Was You (1997)                    0.0
                                            ...
eXistenZ (1999)                              4.0
xXx (2002)                                   0.0
xXx: State of the Union (2005)               0.0
¡Three Amigos! (1986)                        0.0
À nous la liberté (Freedom for Us) (1931)    0.0
Name: 267, Length: 9719, dtype: float64

In [54]:
user_list = list(u_data[u_data>3].index)

In [55]:
set(user_list) - set(my_list)

{'2001: A Space Odyssey (1968)',
 '6th Day, The (2000)',
 'Aliens (1986)',
 'Alien³ (a.k.a. Alien 3) (1992)',
 'American Pie (1999)',
 'Apollo 13 (1995)',
 'Arachnophobia (1990)',
 'Austin Powers: The Spy Who Shagged Me (1999)',
 'Blade Runner (1982)',
 'Caddyshack (1980)',
 'City of Lost Children, The (Cité des enfants perdus, La) (1995)',
 'Close Encounters of the Third Kind (1977)',
 'Crouching Tiger, Hidden Dragon (Wo hu cang long) (2000)',
 'Delicatessen (1991)',
 'Doors, The (1991)',
 'End of Days (1999)',
 'Fatal Attraction (1987)',
 'Fly, The (1986)',
 'Galaxy Quest (1999)',
 'Gattaca (1997)',
 'Insider, The (1999)',
 'Poseidon Adventure, The (1972)',
 'Postman, The (Postino, Il) (1994)',
 'Shakespeare in Love (1998)',
 'Snatch (2000)',
 'Star Trek: First Contact (1996)',
 'Stir of Echoes (1999)',
 'Superstar (1999)',
 'Terminator 2: Judgment Day (1991)',
 'Thirteen Days (2000)',
 'Westworld (1973)',
 'X-Files: Fight the Future, The (1998)',
 'eXistenZ (1999)'}